@media print, screen and (min-width: 1280px) {

.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
	width: 100%;
		text-align: center;
 
}
#header02 {
background-repeat: repeat-x;
background-position: 0px 50px;
	margin:0;
  background-color:#DDDDDD;
width: 100%;
height: 100px;
clear: both;

}
.area {
  width: 820px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.tab_class {
  width: calc(100%/6);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
	border: 1px solid;
	border-color: cadetblue;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}
.class0 {
  width: 100%;
  height: 100px;
  background-color:#DDDDDD;
}
.class1 {
  width: 100%;
  background-color:#0000BB;
}

.class2 {
  display: flex;
  flex-direction: row;
  height: 70%;
  margin-bottom:50px;
}

.class3 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.class4 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.class5 {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.icon{
width:35px;
height:35px;
}


<style type="text/css">
   <!--
    .fs1 {font-size: 12px;}
    .fs2 {font-size: 2em;}
    .fs3 {font-size: 2ex;}
    .fs4 {font-size: 80%;}
    .fs5 {font-size: 100%;}
    .fs6 {font-size: 120%;}
    .fs7 {font-size: xx-small;}
    .fs8 {font-size: x-small;}
    .fs9 {font-size: small;}
    .fs10 {font-size: medium;}
    .fs11 {font-size: large;}
    .fs12 {font-size: x-large;}
    .fs13 {font-size: xx-large;}
	.fs15{font-size: 23px;}
	.fs16 {font-size: 32px;}
   -->
</style>

<style type="text/css">
<!--
   div.ta0 {text-align: left;}
   div.ta1 {text-align: center;}
   div.ta2 {text-align: right;}
   div.ta3 {text-align: justify;}
-->
</style>
p.box {
   border-top: 1px dotted #000;    /* 上側の1本線 */
   border-bottom: 1px dotted #000; /* 下側の1本線 */
	word-wrap: normal;
}
header#sample {
　position:fixed;
}
.buybutton{

color:#ffffff;
background-color:#FF9900;
}

html {
	overflow: auto;
} 
body{
  overflow: auto;
	margin: 0px auto;
padding: 0px;
text-align: center;
}
.wrapper{
    margin: 0px auto; 
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: right;
    padding: 30px 0;
}
p.w-nomal{
  word-wrap: normal;
}

p.w-break{
  word-wrap: break-all;
}
 
p.b-nomal{
  word-break: normal;
}
 
p.b-break{
  word-break: break-all;
}
 
p.b-keep{
  word-break: keep-all;
}
/* 吹き出し本体 */
.balloon{
 opacity: 0;
}
}
