@media print, screen and (min-width: 1280px) {

.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#header02 {
background-repeat: repeat-x;
background-position: 0px 50px;
	margin:0;
  background-color:#DDDDDD;
width: 100%;
height: 100px;
clear: both;
position: fixed;
margin-top: 0;
z-index: 1;
}
.area {
  width: 750px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.tab_class {
  width: calc(100%/6);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}
.class0 {
  width: 100%;
  height: 100px;
  background-color:#DDDDDD;
}
.class1 {
  width: 100%;
  height: 15%;
  background-color:#0000BB;
}

.class2 {
  display: flex;
  flex-direction: row;
  height: 70%;
  margin-bottom:50px;
}

.class3 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.class4 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.class5 {
  display: flex;
  flex-direction: column;
  width: 35%;
}



<style type="text/css">
   <!--
    .fs1 {font-size: 12px;}
    .fs2 {font-size: 2em;}
    .fs3 {font-size: 2ex;}
    .fs4 {font-size: 80%;}
    .fs5 {font-size: 100%;}
    .fs6 {font-size: 120%;}
    .fs7 {font-size: xx-small;}
    .fs8 {font-size: x-small;}
    .fs9 {font-size: small;}
    .fs10 {font-size: medium;}
    .fs11 {font-size: large;}
    .fs12 {font-size: x-large;}
    .fs13 {font-size: xx-large;}
   -->
</style>

<style type="text/css">
<!--
   div.ta0 {text-align: left;}
   div.ta1 {text-align: center;}
   div.ta2 {text-align: right;}
   div.ta3 {text-align: justify;}
-->
</style>

header#sample {
　position:fixed;
}
.buybutton{

color:#ffffff;
background-color:#FF9900;
}

html {
	overflow: auto;
} 
body{
  overflow: hidden;
	margin:0;
}
footer{
    width: 100%;
	height:50px;
    background-color: #89c7de;
    color: #fff;
    text-align: right;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
p.w-nomal{
  word-wrap: normal;
}

p.w-break{
  word-wrap: break-all;
}
 
p.b-nomal{
  word-break: normal;
}
 
p.b-break{
  word-break: break-all;
}
 
p.b-keep{
  word-break: keep-all;
}
}
