@media screen and (max-width: 480px) {
 
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
	float: none;
}
.class0 {
  width: 100%;
  background-color:#DDDDDD;
	float: none;
}
.class1 {
  width: 100%;
  background-color:#0000BB;
	float: none;
}
 
.class2 {
  display: flex;
  width: 100%;
	float: none;
}

.class3 {
  display: flex;
	 width: 100%;
	float: none;
}

<style type="text/css">
   <!--
    .fs8 {font-size: xx-small;}
    .fs9 {font-size: x-small;}
    .fs10 {font-size: small;}
    .fs11 {font-size: medium;}
    .fs12 {font-size: large;}
    .fs13 {font-size: x-large;}
    .fs14 {font-size: xx-large;}
   -->
</style>

<style type="text/css">
<!--
   div.ta0 {text-align: left;}
   div.ta1 {text-align: center;}
   div.ta2 {text-align: right;}
   div.ta3 {text-align: justify;}
-->
</style>

header#sample {
ã€€position:fixed;
}
.buybutton{

color:#ffffff;
background-color:#FF9900;
}

html {
	overflow: auto;
	
	  width: 100%;
} 
body{
  overflow: hidden;
  width: 100%;
  height: 100%;
	overflow: hidden;
}
}
