@media print, screen and (min-width: 1280px) {

.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
	width: 100%;
 
}
#header02 {
background-repeat: repeat-x;
background-position: 0px 50px;
	margin:0;
  background-color:#DDDDDD;
width: 100%;
height: 100px;
clear: both;

}
	.nav{
		background-color: #DDDDDD;
	}
.area {
  width: 820px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.tab_class {
  width: calc(97%/5);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
	border: 1px solid;
	border-color: cadetblue;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}
.class0 {
  width: 100%;
  height: 100px;
  background-color:#DDDDDD;
}
.class1 {
  width: 100%;
  background-color:#0000BB;
}

.class2 {
  display: flex;
  flex-direction: row;
  margin-bottom:50px;
	margin-left: 265px;
}

.class3 {
  display: flex;
  flex-direction: column;
  width: 33%;
	margin-left: 20px;
}
.class4 {
  display: flex;
  flex-direction: column;
  width: 30%;
	margin-left: 85px;
}
.class5 {
  display: flex;
  flex-direction: column;
  width: 35%;
	margin-left: 20px;
}
.icon{
width:35px;
height:35px;
}
.img1{
	margin-left:0px;
	
}
.img2{
	margin-left:0px;
	
}

<style type="text/css">
   <!--
    .fs1 {font-size: 12px;}
    .fs2 {font-size: 2em;}
    .fs3 {font-size: 2ex;}
    .fs4 {font-size: 80%;}
    .fs5 {font-size: 100%;}
    .fs6 {font-size: 120%;}
    .fs7 {font-size: xx-small;}
    .fs8 {font-size: x-small;}
    .fs9 {font-size: small;}
    .fs10 {font-size: medium;}
    .fs11 {font-size: large;}
    .fs12 {font-size: x-large;}
    .fs13 {font-size: xx-large;}
	.fs15{font-size: 23px;}
	.fs16 {font-size: 27px;}
   -->
</style>

<style type="text/css">
<!--
   div.ta0 {text-align: left;}
   div.ta1 {text-align: center;}
   div.ta2 {text-align: right;}
   div.ta3 {text-align: justify;}
-->
</style>
p.box {
   border-top: 1px dotted #000;    /* 上側の1本線 */
   border-bottom: 1px dotted #000; /* 下側の1本線 */
	word-wrap: normal;
	width: 320px;
}
header#sample {
　position:fixed;
}
.buybutton{

color:#ffffff;
background-color:#FF9900;
}

html {
} 
body{
　overflow-x: hidden;
	margin: 0px auto;
padding: 0px;
}
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
footer{
    background-color: #89c7de;
    color: #fff;
    text-align: left;
    padding: 30px 300px;
}
.acbox{
  width: auto;
  font-size:0px; /* ラベルと開く部分を分離する時は数値を入れる */
  margin:0 10px; /* ボックス全体の位置調整 */
}

.acbox label{
  width: auto;
  font-size: 16px; /* ラベルの文字サイズ */
  font-weight: bold;
  text-align: center;
  background: #8BC34A; /* ラベルの背景色 */
  position: relative;
  display: block;
  padding:8px;
  border-radius: 4px; /* ラベルの角の丸み */
  cursor: pointer;
  color: #fff;
}

.acbox label:hover{
  background: #8BC34A; /* ラベルにマウスを乗せた時の背景色 */
}

.acbox input{
  display: none;
}

.acbox label:after{
  color: #fff;
  content:"▼"; /* ラベルのアイコン */
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -14px;
}

.acbox input:checked ~ label::after {
  content:"▲"; /* ラベルをクリックした後のアイコン */
}

.acbox div{
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.15s; /* 開閉スピードの設定 */
}

.acbox input:checked ~ div{
  height: auto;
  padding: 18px; /* 開いた部分の枠内の余白 */
  border-radius: 0px;
  background: #F3F4F5; /* 開いた部分の背景色 */
  opacity: 1;
}

.acbox input:checked ~ label {
  background: #8BC34A; /* クリック後のラベルの背景色 */
}

.acbox-under{
  font-size: 15px; /* 開いた部分の文字サイズ */
  color: #555555; /* 開いた部分の文字色 */
}

p.w-nomal{
  word-wrap: normal;
}

p.w-break{
  word-wrap: break-all;
}
 
p.b-nomal{
  word-break: normal;
}
 
p.b-break{
  word-break: break-all;
}
 
p.b-keep{
  word-break: keep-all;
}
/* 吹き出し本体 */
.balloon{
 opacity: 0;
}
}
